@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgb(77, 77, 217);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    width: 50%;
    height: 70%;
    border-radius: 15px;
    background-color: white;
    /* background-color: #fbe8e8; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.h-30{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 80%;
    height: 30%;
    margin-right: 30px;
}
.button{
    width: 10%;
    height: 30%;
    background-color: rgb(76, 183, 18);
    color: white;
    border-radius: 5px;
}

.h-70{
    height: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.item{
    width: 90%;
    height: 15%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    background-color: red;
    color: white;
    height: 20px;
    width: 60px;
}