*{
    margin: 0px;
    padding: 0px;
}

.principal{
    width: 100%;
    height: 100vh;
}

.linha{
    width: 100%;
    height: 33.3333%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quadrado-azul{
    width: 150px;
    height: 150px;
    background-color: #4444cd;
}

.coluna-centro{
    align-items: center;
}


.coluna-final{
    align-items: end;
}

.quadrado-laranja{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 115, 0);
    justify-content: space-between;
}

.flex{
    display: flex;
}

.q1{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.q2{
    justify-content: center;
    align-items: center;
}


#q3{
    display: flex;
    justify-content: end;
    align-items: end;
}

.q4{
    justify-content: center;
    align-items: end;
}

.q57{
    justify-content: center;
    align-items: start;
}


#q8{
    display: flex;
    justify-content: end;
}

#q88{
    display: flex;
    align-items: end;
}

.q10{
    justify-content: end;
}

.qq{
    display: flex;
    justify-content: center;
}

.qqq{
    display: flex;
    justify-content: space-between;
}


.metade{
    height: 50%;
}

.coluna{
    flex-direction: column;
}

.terco{
    height: 33,3333%;
}

/* oi */